@import "../styles/variables.scss";

.buttonLanguages {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 30px;
  text-decoration: none;
  border: 1px solid $buttonNeon;
  border-radius: 8px;
  background-color: inherit;
  color: $buttonNeon;
}

.active {
  background-color: $buttonNeon;
  color: black;
}
